<div class="modal-header">
  <h2 class="modal-title pull-left">Kosár</h2>
</div>
<div class="modal-body">
  <div *ngIf="product">
    <strong>{{product.brand}}</strong> hozzá lett adva a kosaradhoz!<br>

    <div class="buttonAndPrice">
      <span style="color: red;">Ár: {{product.price}} Ft</span>
      <button mat-button (click)="redirectToCart()">Megnézem a kosár tartalmát</button>
    </div>
  </div>
</div>
<div>
  <button mat-button type="button" class="mat-primary continue-purchase" (click)="bsModalRef.hide()">Vásárlás folytatása</button>
</div>

