<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="add-product">
  <button class="btn btn-primary" (click)="openHddEdit(null)">Merevlemez hozzáadása<mat-icon style="padding-top: 5px">add</mat-icon></button>
  <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
    <mat-form-field appearance="outline">
      <input formControlName="searchTerm" matInput type="search" placeholder="Keresés">
      <button type="submit" matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
<mat-card class="product-items" *ngFor="let hdd of filteredHdds">
  <a (click)="navigateToProduct(hdd)">
    <mat-card-header>
      <mat-card-title>{{hdd.brand}}</mat-card-title>
      <mat-card-subtitle><strong>Ár: {{hdd.price}} Ft</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Kábel típus: {{hdd.cableType}} <br>
      Méret: {{hdd.size}} GB <br>
    </mat-card-content>
  </a>
  <mat-card-actions>
    <button mat-button (click)="openCart(hdd)">Kosárba</button>
    <button mat-button (click)="addToFavorites(hdd)">Kedvenc</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="true" >
    <button mat-button (click)="delete(hdd)"><mat-icon style="color: red;">delete</mat-icon></button>
    <button mat-button (click)="openHddEdit(hdd)"><mat-icon style="color: blue;">edit</mat-icon></button>
  </mat-card-actions>
</mat-card>


