<div class="add-product">
  <button class="btn btn-primary" (click)="openProcessorEdit(null)">Processzor hozzáadása
    <mat-icon style="padding-top: 5px">add</mat-icon>
  </button>
</div>
<mat-card class="product-items" *ngFor="let processor of processors">
  <a (click)="navigateToProduct(processor)">
    <mat-card-header>
      <mat-card-title>{{processor.brand}}</mat-card-title>
      <mat-card-subtitle><strong>Ár: {{processor.price}} Ft</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Chipset: {{processor.chipset}} <br>
      Óra gyorsasága: {{processor.clockSpeed}} GHz<br>
      Magok száma: {{processor.core}} <br>
    </mat-card-content>
  </a>
  <mat-card-actions>
    <button mat-button (click)="openCart(processor)">Kosárba</button>
    <button mat-button (click)="addToFavorites(processor)">Kedvenc</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="true" >
    <button mat-button (click)="delete(processor)"><mat-icon style="color: red;">delete</mat-icon></button>
    <button mat-button (click)="openProcessorEdit(processor)"><mat-icon style="color: blue;">edit</mat-icon></button>
  </mat-card-actions>
</mat-card>

