<table mat-table [dataSource]="motherboards">
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>Termék megnevezése</th>
    <td mat-cell *matCellDef="let element">{{element.brand}}</td>
  </ng-container>
  <ng-container matColumnDef="chipset">
    <th mat-header-cell *matHeaderCellDef>Chipset</th>
    <td mat-cell *matCellDef="let element">{{element.chipset}}</td>
  </ng-container>
  <ng-container matColumnDef="gpuSlots">
    <th mat-header-cell *matHeaderCellDef>Videókártya foglalat</th>
    <td mat-cell *matCellDef="let element">{{element.gpuSlots}}</td>
  </ng-container>
  <ng-container matColumnDef="hddCable">
    <th mat-header-cell *matHeaderCellDef>Merevlemez kábel</th>
    <td mat-cell *matCellDef="let element">{{element.hddCable}}</td>
  </ng-container>
  <ng-container matColumnDef="ramCount">
    <th mat-header-cell *matHeaderCellDef>RAM darabszám</th>
    <td mat-cell *matCellDef="let element">{{element.ramCount}}</td>
  </ng-container>
  <ng-container matColumnDef="ramSlots">
    <th mat-header-cell *matHeaderCellDef>RAM foglalat</th>
    <td mat-cell *matCellDef="let element">{{element.ramSlots}}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Ár</th>
    <td mat-cell *matCellDef="let element">{{element.price}} Ft</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Termék leírása</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


