<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="edit-form">
  <h1>{{title}}</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <label for="brand">Márka:</label>
        <input id="brand" type="text" formControlName="brand"/>

        <label for="chipset">Chipset:</label>
        <select id="chipset" formControlName="chipset">
          <option *ngFor="let chipset of chipsets" [value]="chipset">{{chipset}}</option>
        </select>

        <label for="clockSpeed">Óra gyorsasága:</label>
        <input id="clockSpeed" type="number" placeholder="GHz" formControlName="clockSpeed"/>
      </div>
      <div class="col-6">
        <div class="col-12">
          <label for="core">Magok száma:</label>
          <input id="core" type="number" formControlName="core"/>
        </div>
        <div class="col-12">
          <label for="price">Ár:</label>
          <input id="price" type="number" placeholder="Ft" formControlName="price"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="description">Termék leírás:</label>
          <input id="description" type="text" formControlName="description"/>
        </div>
      </div>
    </div>
    <div>
        <span class="buttons">
          <button *ngIf="processor" mat-raised-button color="primary" (click)="editProcessor()"
                  [disabled]="form.invalid"
                  type="submit">Módosítás</button>
          <button *ngIf="!processor" mat-raised-button color="primary" (click)="addProcessor()"
                  [disabled]="form.invalid"
                  type="submit">Hozzáadás</button>
            <button mat-raised-button (click)="modalRef.hide()">Bezárás</button>
        </span>
    </div>
  </form>
</div>




