<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="edit-form">
  <h1>{{title}}</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <label for="brand">Márka:</label>
        <input id="brand" type="text" formControlName="brand"/>
        <label for="clock">Gyorsaság:</label>
        <input id="clock" placeholder="GHz" type="number" formControlName="clock"/>
        <label for="memory">Memória:</label>
        <input id="memory" placeholder="Mb" type="number" formControlName="memory"/>
      </div>
      <div class="col-6">
        <div class="col-12">
          <label for="slot">Foglalat:</label>
          <select id="slot" formControlName="slot">
            <option *ngFor="let slot of gpuSlots" [value]="slot">{{slot}}</option>
          </select>
        </div>
        <div class="col-12">
          <label for="price">Ár:</label>
          <input id="price" placeholder="Ft" type="number" formControlName="price"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="description">Termék leírás:</label>
          <input id="description" type="text" formControlName="description"/>
        </div>
      </div>
    </div>
    <div>
        <span class="buttons">
          <button *ngIf="gpu" mat-raised-button color="primary" (click)="editGpu()" [disabled]="form.invalid"
                  type="submit">Módosítás</button>
          <button *ngIf="!gpu" mat-raised-button color="primary" (click)="addGpu()" [disabled]="form.invalid"
                  type="submit">Hozzáadás</button>
            <button mat-raised-button (click)="modalRef.hide()">Bezárás</button>
        </span>
    </div>
  </form>
</div>



