<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="container">
  <table mat-table [dataSource]="products">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Termék neve</th>
      <td mat-cell *matCellDef="let element">{{element.brand}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Ár</th>
      <td mat-cell *matCellDef="let element">{{element.price}} Ft</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Termék leírás</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button color="primary" style="margin-right: 15px;" [disabled]="!validPc" mat-raised-button (click)="addToCart(element)">Kosárba rak</button>
        <button color="primary" mat-raised-button (click)="removeFromPc(element)">Eltávolítás</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <td mat-footer-cell *matFooterCellDef colspan="4">{{getTotalPrice()}} Ft</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['total']"></tr>
  </table>
  <button class="buttons"  color="primary" mat-raised-button (click)="checkPc()">Gép ellenőrzése</button>
  <mat-icon style="color:red;" *ngIf="!validPc">error</mat-icon><mat-icon  style="color:green;" *ngIf="validPc">check_circle</mat-icon><br>
  <pre style="color: red;"  *ngIf="!validPc">{{errorMessagePc}}</pre><br>
  <strong *ngIf="!validPc">Előbb ellenőrizd a gépet</strong><br>
  <mat-form-field appearance="outline">
    <mat-label>Játék kiválasztása</mat-label>
    <mat-select [disabled]="!validPc" >
      <mat-option (onSelectionChange)="checkGame(game, $event)" *ngFor="let game of games" [value]="game">{{game.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon style="color:red;" *ngIf="!canPcRunGame">error</mat-icon><mat-icon  style="color:green;" *ngIf="canPcRunGame">check_circle</mat-icon><br>
  <pre style="color: red;"  *ngIf="!canPcRunGame">{{errorMessageGame}}</pre><br>
</div>
