<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="add-product">
  <button [hidden]="userRole < 2"  class="btn btn-primary" (click)="openGpuEdit(null)">Videókártya hozzáadása<mat-icon style="padding-top: 5px">add</mat-icon></button>
  <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
    <mat-form-field appearance="outline">
      <input formControlName="searchTerm" matInput type="search" placeholder="Keresés">
      <button type="submit" matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
<mat-card class="product-items" *ngFor="let gpu of filteredGpus">
  <a (click)="navigateToProduct(gpu)">
    <mat-card-header>
      <mat-card-title>{{gpu.brand}}</mat-card-title>
      <mat-card-subtitle><strong>Ár: {{gpu.price}} Ft</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Foglalat: {{gpu.slot}} <br>
      Gyorsaság: {{gpu.clock}} MHz <br>
      Memória: {{gpu.memory}} GB <br>
    </mat-card-content>
  </a>
  <mat-card-actions  [hidden]="userRole === 0">
    <button mat-button (click)="openCart(gpu)">Kosárba</button>
    <button mat-button (click)="addToFavorites(gpu)">Kedvenc</button><br>
  </mat-card-actions>
  <mat-card-actions  [hidden]="userRole < 2" >
    <button mat-button (click)="delete(gpu)"><mat-icon style="color: red;">delete</mat-icon></button>
    <button mat-button (click)="openGpuEdit(gpu)"><mat-icon style="color: blue;">edit</mat-icon></button>
  </mat-card-actions>
</mat-card>

