<mat-card *ngFor="let gpu of gpus">
  <mat-card-header>
    <mat-card-title>{{gpu.brand}}</mat-card-title>
    <mat-card-subtitle><strong>Ár: {{gpu.price}} Ft</strong></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Foglalat: {{gpu.slot}} <br>
    Gyorsaság: {{gpu.clock}} GHz <br>
    Memória: {{gpu.memory}} MB <br>
    Termék leírás: {{gpu.description}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Kosárba</button>
    <button mat-button>Kedvenc</button>
  </mat-card-actions>
</mat-card>
