mat-nav-list {
  background-color: green;
  width: 100%;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
}

a{
  padding: 10px;
  display: inline-block;
  align-items: center;
}

a:hover{
  background-color: rgb(0, 100, 0);
}

.main-router{
  width: 100px;
  flex-grow: 1;
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
  color: black;
  letter-spacing: 10px;
}
