<div class="header-container">
  <a style="width: 100px; flex-grow: 1" mat-list-item routerLink="/main">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-list-item routerLink="/login" *ngIf="!loggedInUser">
    <mat-icon>perm_identity</mat-icon>
  </a>
  <a mat-list-item routerLink="/favorite" *ngIf="loggedInUser">
    <mat-icon>favorite</mat-icon>
  </a>
  <a mat-list-item routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
  </a>
  <a mat-list-item routerLink="/login" (click)="logout()" *ngIf="loggedInUser">
    <mat-icon>logout</mat-icon>
  </a>
</div>
