<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="container">
  <mat-card class="formCard">
    <h1>Bejelentkezés</h1>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="text" formControlName="email"/>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Jelszó:</mat-label>
        <input matInput type="password" formControlName="password"/>
      </mat-form-field>
      <mat-error *ngIf="form.hasError('accountInvalid')">Hibás email vagy jelszó!</mat-error>
      <br>
      <a routerLink="/register">Nincs még fiókod? Regisztrálj!</a> <br>
      <span>
        <span><button mat-raised-button color="primary" type="submit" (click)="login()">Bejelentkezés</button></span>
        <span><button mat-raised-button color="primary" [routerLink]="'/main'">Főoldal</button></span>
    </span>
    </form>
  </mat-card>
</div>
