<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<ng-container [ngSwitch]="category">
  <app-gpu-list *ngSwitchCase="'gpu'"></app-gpu-list>
  <app-hdd-list  *ngSwitchCase="'hdd'"></app-hdd-list>
  <app-motherboard-list  *ngSwitchCase="'motherboard'"></app-motherboard-list>
  <app-processor-list  *ngSwitchCase="'processor'"></app-processor-list>
  <app-ram-list  *ngSwitchCase="'ram'"></app-ram-list>
</ng-container>
<ng-container >
  <div class="selected-product">
    <mat-card>
      <div *ngIf="product?.includes('gpu')">
        <mat-card-header>
          <mat-card-title>{{selectedGpu?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedGpu?.rating" [currentRating]="0"></app-star-rating><br>
            <strong>Ár: {{selectedGpu?.price}} Ft</strong>
            <button mat-button (click)="openCart(selectedGpu, 'gpu')">Kosárba rak</button>
          </div>
          Foglalat: {{selectedGpu?.slot}} <br>
          Gyorsaság: {{selectedGpu?.clock}} GHz <br>
          Memória: {{selectedGpu?.memory}} MB <br>
          Termék leírás: {{selectedGpu?.description}}<br>
          <button class="btn btn-primary">Gépbe rak</button>
          <app-product-comment *ngIf="selectedGpu" [productType]="'gpu'" (sendCommentForm)="initForm($event)" [selectedProduct]="selectedGpu" ></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('hdd')">
        <mat-card-header>
          <mat-card-title>{{selectedHdd?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedHdd?.rating" [currentRating]="0"></app-star-rating><br>
            <strong>Ár: {{selectedHdd?.price}} Ft</strong>
            <button mat-button (click)="openCart(selectedHdd, 'hdd')">Kosárba rak</button>
          </div>
          Kábel típus: {{selectedHdd?.cableType}} <br>
          Méret: {{selectedHdd?.size}} GB <br>
          Termék leírás: {{selectedHdd?.description}}<br>
          <button class="btn btn-primary">Gépbe rak</button>
          <app-product-comment *ngIf="selectedHdd" [productType]="'hdd'" (sendCommentForm)="initForm($event)" [selectedProduct]="selectedHdd" ></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('ram')">
        <mat-card-header>
          <mat-card-title>{{selectedRam?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedRam?.rating" [currentRating]="0"></app-star-rating><br>
            <strong>Ár: {{selectedRam?.price}} Ft</strong>
            <button mat-button (click)="openCart(selectedRam, 'ram')">Kosárba rak</button>
          </div>
          Memória mérete {{selectedRam?.memorySize}} MB<br>
          Óra gyorsasága: {{selectedRam?.speed}} MHz<br>
          Foglalat: {{selectedRam?.slot}} <br>
          Termék leírás: {{selectedRam?.description}}<br>
          <button class="btn btn-primary">Gépbe rak</button>
          <app-product-comment *ngIf="selectedRam" [productType]="'ram'" (sendCommentForm)="initForm($event)" [selectedProduct]="selectedRam" ></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('motherboard')">
        <mat-card-header>
          <mat-card-title>{{selectedMotherboard?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedMotherboard?.rating" [currentRating]="0"></app-star-rating><br>
            <strong>Ár: {{selectedMotherboard?.price}} Ft</strong>
            <button mat-button (click)="openCart(selectedMotherboard, 'motherboard')">Kosárba rak</button>
          </div>
          Chipset: {{selectedMotherboard?.chipset}} <br>
          Videókártya foglalat: {{selectedMotherboard?.gpuSlots}} <br>
          Merevlemez kábel: {{selectedMotherboard?.hddCable}} <br>
          RAM darabszám: {{selectedMotherboard?.ramCount}} <br>
          RAM foglalat: {{selectedMotherboard?.ramSlots}} <br>
          Termék leírás: {{selectedMotherboard?.description}}<br>
          <button class="btn btn-primary">Gépbe rak</button>
          <app-product-comment *ngIf="selectedMotherboard" [productType]="'motherboard'" (sendCommentForm)="initForm($event)" [selectedProduct]="selectedMotherboard" ></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('processor')">
        <mat-card-header>
          <mat-card-title>{{selectedProcessor?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedProcessor?.rating" [currentRating]="0"></app-star-rating><br>
            <strong>Ár: {{selectedProcessor?.price}} Ft</strong>
            <button mat-button (click)="openCart(selectedProcessor, 'processor')">Kosárba rak</button>
          </div>
          Chipset: {{selectedProcessor?.chipset}} <br>
          Óra gyorsasága: {{selectedProcessor?.clockSpeed}} GHz<br>
          Magok száma: {{selectedProcessor?.core}} <br>
          Termék leírás: {{selectedProcessor?.description}}<br>
          <button class="btn btn-primary">Gépbe rak</button>
          <app-product-comment *ngIf="selectedProcessor" [productType]="'processor'" (sendCommentForm)="initForm($event)" [selectedProduct]="selectedProcessor" ></app-product-comment>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</ng-container>

