<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<ng-container [ngSwitch]="category">
  <app-gpu-list [userRole]="authGuard.getRole()" *ngSwitchCase="'gpu'"></app-gpu-list>
  <app-hdd-list [userRole]="authGuard.getRole()" *ngSwitchCase="'hdd'"></app-hdd-list>
  <app-motherboard-list [userRole]="authGuard.getRole()" *ngSwitchCase="'motherboard'"></app-motherboard-list>
  <app-processor-list [userRole]="authGuard.getRole()" *ngSwitchCase="'processor'"></app-processor-list>
  <app-ram-list [userRole]="authGuard.getRole()" *ngSwitchCase="'ram'"></app-ram-list>
</ng-container>
<ng-container>
  <div class="selected-product">
    <mat-card>
      <div *ngIf="product?.includes('gpu')">
        <mat-card-header>
          <mat-card-title>{{selectedGpu?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedGpu?.rating" [currentRating]="0"></app-star-rating>
            <br>
            <strong>Ár: {{selectedGpu?.price}} Ft</strong>
            <button [hidden]="authGuard.getRole() === 0" mat-button (click)="openCart(selectedGpu, 'gpu')">Kosárba rak
            </button>
          </div>
          <strong>Foglalat:</strong> {{selectedGpu?.slot}} <br>
          <strong>Gyorsaság:</strong> {{selectedGpu?.clock}} MHz <br>
          <strong>Memória:</strong> {{selectedGpu?.memory}} GB <br>
          <strong>Termék leírás:</strong>
          <pre>{{selectedGpu?.description | lineBreak}}</pre>
          <br>
          <button [hidden]="authGuard.getRole() === 0" (click)="addToPc(selectedGpu, 'gpu')" class="btn btn-primary">
            Gépbe rak
          </button>
          <app-product-comment *ngIf="selectedGpu" (passRemovedId)="removeComment($event, 'gpu')"
                               (sendCommentForm)="initForm($event, 'gpu')"
                               [selectedProduct]="selectedGpu" [userRole]="authGuard.getRole()"></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('hdd')">
        <mat-card-header>
          <mat-card-title>{{selectedHdd?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedHdd?.rating" [currentRating]="0"></app-star-rating>
            <br>
            <strong>Ár: {{selectedHdd?.price}} Ft</strong>
            <button [hidden]="authGuard.getRole() === 0" mat-button (click)="openCart(selectedHdd, 'hdd')">Kosárba rak
            </button>
          </div>
          <strong>Kábel típus:</strong> {{selectedHdd?.cableType}} <br>
          <strong>Méret:</strong> {{selectedHdd?.size}} GB <br>
          <strong>Termék leírás:</strong>
          <pre>{{selectedHdd?.description | lineBreak}}</pre>
          <br>
          <button [hidden]="authGuard.getRole() === 0" (click)="addToPc(selectedHdd, 'hdd')" class="btn btn-primary">
            Gépbe rak
          </button>
          <app-product-comment *ngIf="selectedHdd" (sendCommentForm)="initForm($event, 'hdd')"
                               (passRemovedId)="removeComment($event, 'hdd')"
                               [selectedProduct]="selectedHdd" [userRole]="authGuard.getRole()"></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('ram')">
        <mat-card-header>
          <mat-card-title>{{selectedRam?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedRam?.rating" [currentRating]="0"></app-star-rating>
            <br>
            <strong>Ár: {{selectedRam?.price}} Ft</strong>
            <button [hidden]="authGuard.getRole() === 0" mat-button (click)="openCart(selectedRam, 'ram')">Kosárba rak
            </button>
          </div>
          <strong>Memória mérete: </strong> {{selectedRam?.memorySize}} GB<br>
          <strong>Óra gyorsasága:</strong>  {{selectedRam?.speed}} MHz<br>
          <strong>Foglalat:</strong>  {{selectedRam?.slot}} <br>
          <strong>Termék leírás:</strong>
          <pre>{{selectedRam?.description | lineBreak}}</pre>
          <br>
          <button [hidden]="authGuard.getRole() === 0" (click)="addToPc(selectedRam, 'ram')" class="btn btn-primary">
            Gépbe rak
          </button>
          <app-product-comment *ngIf="selectedRam" (sendCommentForm)="initForm($event, 'ram')"
                               (passRemovedId)="removeComment($event, 'ram')"
                               [selectedProduct]="selectedRam" [userRole]="authGuard.getRole()"></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('motherboard')">
        <mat-card-header>
          <mat-card-title>{{selectedMotherboard?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedMotherboard?.rating" [currentRating]="0"></app-star-rating>
            <br>
            <strong>Ár: {{selectedMotherboard?.price}} Ft</strong>
            <button [hidden]="authGuard.getRole() === 0" mat-button
                    (click)="openCart(selectedMotherboard, 'motherboard')">Kosárba rak
            </button>
          </div>
          <strong>Chipset:</strong>  {{selectedMotherboard?.chipset}} <br>
          <strong>Videókártya foglalat:</strong>  {{selectedMotherboard?.gpuSlots}} <br>
          <strong> Merevlemez kábel:</strong>  {{selectedMotherboard?.hddCable}} <br>
          <strong>RAM darabszám:</strong>  {{selectedMotherboard?.ramCount}} <br>
          <strong>RAM foglalat:</strong>  {{selectedMotherboard?.ramSlots}} <br>
          <strong>Termék leírás:</strong>
          <pre>{{selectedMotherboard?.description | lineBreak}}</pre>
          <br>
          <button [hidden]="authGuard.getRole() === 0" (click)="addToPc(selectedMotherboard, 'motherboard')"
                  class="btn btn-primary">Gépbe rak
          </button>
          <app-product-comment *ngIf="selectedMotherboard"
                               (sendCommentForm)="initForm($event, 'motherboard')"
                               (passRemovedId)="removeComment($event, 'motherboard')"
                               [selectedProduct]="selectedMotherboard"
                               [userRole]="authGuard.getRole()"></app-product-comment>
        </mat-card-content>
      </div>
      <div *ngIf="product?.includes('processor')">
        <mat-card-header>
          <mat-card-title>{{selectedProcessor?.brand}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="buttonAndPrice">
            <app-star-rating [rating]="selectedProcessor?.rating" [currentRating]="0"></app-star-rating>
            <br>
            <strong>Ár: {{selectedProcessor?.price}} Ft</strong>
            <button [hidden]="authGuard.getRole() === 0" mat-button (click)="openCart(selectedProcessor, 'processor')">
              Kosárba rak
            </button>
          </div>
          <strong>Chipset:</strong> {{selectedProcessor?.chipset}} <br>
          <strong>Óra gyorsasága:</strong> {{selectedProcessor?.clockSpeed}} GHz<br>
          <strong>Magok száma:</strong> {{selectedProcessor?.core}} <br>
          <strong>Termék leírás:</strong>
          <pre>{{selectedProcessor?.description | lineBreak}}</pre>
          <br>
          <button [hidden]="authGuard.getRole() === 0" (click)="addToPc(selectedProcessor, 'processor')"
                  class="btn btn-primary">Gépbe rak
          </button>
          <app-product-comment *ngIf="selectedProcessor" (passRemovedId)="removeComment($event, 'processor')"
                               (sendCommentForm)="initForm($event, 'processor')"
                               [selectedProduct]="selectedProcessor"
                               [userRole]="authGuard.getRole()"></app-product-comment>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</ng-container>

