div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-input{
  width: 15%;
  height: 50px;
  display: inline-block;
  background-color: rgba(24, 238, 24, 0.6);
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid black;
}
