<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="container">
  <mat-card class="formCard">
    <h1>Regisztráció</h1>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Jogosultság kiválasztása: </mat-label>
        <mat-select>
          <mat-option (onSelectionChange)="optionSelected($event, 'admin')" [value]="'admin'" >Admin</mat-option>
          <mat-option (onSelectionChange)="optionSelected($event, 'user')" [value]="'user'">Felhasználó</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="vertical-align: center">
        <span class="admin-input" *ngIf="isAdmin">admin@</span>
        <mat-form-field [style]="isAdmin ? 'width: 85%;' : '' ">
          <mat-label>Email:</mat-label>
          <input  matInput type="text" formControlName="email"/>
          <mat-error *ngIf="form.get('email')?.hasError('pattern')">E-mail nincs rendes formázva</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('accountTaken')">Az e-mail cím már használatban van</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Jelszó:</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput type="password" formControlName="password"/>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Legalább 6 karaktert kell tartalmaznia</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Jelszó újra:</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput type="password" formControlName="rePassword"/>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Nem egyeznek a jelszavak</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Vezetéknév:</mat-label>
        <input matInput type="text" formControlName="lastName"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Keresztnév:</mat-label>
        <input matInput type="text" formControlName="firstName"/>
      </mat-form-field>
      <div>
        <span class="buttons">
          <button mat-raised-button color="primary" (click)="register()" [disabled]="form.invalid" type="submit">Regisztráció</button>
        </span>
        <span class="buttons">
          <button mat-raised-button color="primary" (click)="goBack()">Vissza</button>
       </span>
      </div>
    </form>
  </mat-card>
</div>


