<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="edit-form">
  <h1>{{title}}</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <label for="brand">Márka:</label>
        <input id="brand" type="text" formControlName="brand"/>

        <label for="chipset">Chipset:</label>
        <select id="chipset" formControlName="chipset">
          <option *ngFor="let chipset of chipsets" [value]="chipset">{{chipset}}</option>
        </select>

        <label for="gpuSlots">Videókártya foglalat:</label>
        <select id="gpuSlots" formControlName="gpuSlots">
          <option *ngFor="let gpu of gpuSlots" [value]="gpu">{{gpu}}</option>
        </select>

        <label for="price">Ár:</label>
        <input id="price" type="number" placeholder="Ft" formControlName="price"/>
      </div>
      <div class="col-6">
        <div class="col-12">
          <label for="hddCable">Merevlemez kábel:</label>
          <select id="hddCable" formControlName="hddCable">
            <option *ngFor="let cableType of cableTypes" [value]="cableType">{{cableType}}</option>
          </select>
        </div>
        <div class="col-12">
          <label for="ramCount">RAM darabszám:</label>
          <input id="ramCount" type="number" formControlName="ramCount"/>
        </div>
        <div class="col-12">
          <label for="ramSlots">RAM foglalat:</label>
          <select id="ramSlots" formControlName="ramSlots">
            <option *ngFor="let ramSlot of ramSlots" [value]="ramSlot">{{ramSlot}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="description">Termék leírás:</label>
          <input id="description" type="text" formControlName="description"/>
        </div>
      </div>
    </div>
    <div>
        <span class="buttons">
          <button *ngIf="motherboard" mat-raised-button color="primary" (click)="editMotherboard()"
                  [disabled]="form.invalid"
                  type="submit">Módosítás</button>
          <button *ngIf="!motherboard" mat-raised-button color="primary" (click)="addMotherboard()"
                  [disabled]="form.invalid"
                  type="submit">Hozzáadás</button>
            <button mat-raised-button (click)="modalRef.hide()">Bezárás</button>
        </span>
    </div>
  </form>
</div>

