<div class="edit-form">
  <h1>{{title}}</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label for="brand">Márka:</mat-label>
          <input matInput type="text" formControlName="brand"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="chipset">Chipset:</mat-label>
          <input matInput type="text" formControlName="chipset"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="gpuSlots">Videókártya foglalat:</mat-label>
          <input matInput type="text" formControlName="gpuSlots"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="price">Ár:</mat-label>
          <input matInput type="text" formControlName="price"/>
        </mat-form-field>
      </div>
      <div class="col-6">
        <div class="col-12">
          <mat-form-field>
            <mat-label for="hddCable">Merevlemez kábel:</mat-label>
            <input matInput type="text" formControlName="hddCable"/>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label for="ramCount">RAM darabszám:</mat-label>
            <input matInput type="text" formControlName="ramCount"/>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label for="ramSlots">RAM foglalat:</mat-label>
            <input matInput type="text" formControlName="ramSlots"/>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <mat-label for="description">Termék leírás:</mat-label>
        <input matInput type="text" formControlName="description"/>
      </mat-form-field>
    </div>
    <div>
        <span class="buttons">
          <button *ngIf="motherboard" mat-raised-button color="primary" (click)="editMotherboard()" [disabled]="form.invalid"
                  type="submit">Módosítás</button>
          <button *ngIf="!motherboard" mat-raised-button color="primary" (click)="addMotherboard()" [disabled]="form.invalid"
                  type="submit">Hozzáadás</button>
            <button mat-raised-button (click)="modalRef.hide()">Bezárás</button>
        </span>
    </div>
  </form>
</div>

