/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.add-product{
  float: left;
  width: 100%;
  padding: 10px;
}

.product-items {
  float: left;
  margin: 15px 15px 0 15px;
  max-width: 300px;

  mat-card-actions{
    display: flex;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

.selected-product {
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  display: flex;

  mat-card{
    margin-top: 30px;
    min-width: 1000px;
  }

  button{
    margin-top: 20px;
  }
}

.buttonAndPrice {
  float: right;
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    background-color: #01f329;
  }
}

.formCard {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  box-shadow: 0 0 10px #ccc;
  padding: 30px;

  mat-form-field {
    width: 100%;
  }

  a {
    text-decoration: none;
    text-align: center;
    padding-left: 40px;
  }

  button {
    margin: 10px;
  }
}

.edit-form{
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 0 10px #ccc;
  padding: 30px;

  h1{

  }

  button {
    margin-right: 10px;
  }

  mat-form-field {
    width: 100%;
  }
}

.comments{
  margin-top: 30px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;

  textarea{
    width: 100%;
    height: 100px;
  }

  h3{
    width: 50%;
  }

  .star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 0;
    float: right;
  }

  .star {
    display: inline-block;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
  }
}
