/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
  float: left;
  margin: 80px 15px 0 15px;
  max-width: 300px;
}
