<div class="overlay" *ngIf="isLoading">
  <div class="spinner-wrapper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
<div class="edit-form">
  <h1>{{title}}</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <label for="brand">Márka:</label>
        <input id="brand" type="text" formControlName="brand"/>

        <label for="cableType">Foglalat:</label>
        <select id="cableType" formControlName="cableType">
          <option *ngFor="let cableType of cableTypes" [value]="cableType">{{cableType}}</option>
        </select>
      </div>
      <div class="col-6">
        <div class="col-12">
          <label for="size">Méret:</label>
          <input id="size" placeholder="GB" type="number" formControlName="size"/>

          <label for="price">Ár:</label>
          <input id="price" placeholder="Ft" type="number" formControlName="price"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="description">Termék leírás:</label>
          <textarea id="description" type="text" formControlName="description"></textarea>
        </div>
      </div>
    </div>
    <div>
        <span class="buttons">
          <button *ngIf="hdd" mat-raised-button color="primary" (click)="editHdd()" [disabled]="form.invalid"
                  type="submit">Módosítás</button>
          <button *ngIf="!hdd" mat-raised-button color="primary" (click)="addHdd()" [disabled]="form.invalid"
                  type="submit">Hozzáadás</button>
            <button mat-raised-button (click)="modalRef.hide()">Bezárás</button>
        </span>
    </div>
  </form>
</div>




